{% extends "header.html" %}

{% block title %}index{% endblock %}


{% block content %}
    <p>Enter the following command immediately to the right localhost:8000/gym/</p>
    <p>I have provide the button and form to done the function im the web application</p>
    <table class="table">
        <thead>
            <tr>
                <th>URL</th>
                <th>Desciption</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>gymroom</td>
                <td>Display the all user the gym room. If full that will display the waiting list of gym.</td>
            </tr>
            <tr>
                <td>login</td>
                <td>This is easy login of admin. Now is not have a account and password that just a button click to login.</td>
            </tr>
            <tr>
                <td>logout</td>
                <td>This is easy logout of admin. </td>
            </tr>
        {% if admin %}
            <tr>
                <td>admit/admitGym</td>
                <td>Display the list of All GymUser, provide search in table function, export the CSV file and import the CSV file of new Gym User</td>
            </tr>
            <tr>
                <td>admit/upload</td>
                <td>Select the CSV file upload and import. After the operation, the import status will be displayed.</td>
            </tr>
            <tr>
                <td>admit/export</td>
                <td>it is a link to download the CSV file of GymUser</td>
            </tr>
            <tr>
                <td>admit/addGym/type</td>
                <td>Add the user. type:0/1.<br>
                0: Add to gym <br>
                1: Add to waiting</td>
            </tr>
            <tr>
                <td>admit/leaveGym</td>
                <td>Add the user to record and delete the user from gym.</td>
            </tr>
            <tr>
                <td>admit/importRemove</td>
                <td>Remove the user in the waiting list.</td>
            </tr>
            <tr>
                <td>admit/setMax</td>
                <td>Set the maximum number user in gym.</td>
            </tr>
            <tr>
                <td>admit/record</td>
                <td>Display all user record.</td>
            </tr>
            <tr>
                <td>admit/record/id</td>
                <td>id: gym user id<br>
                    Display gym user record of id
                </td>
            </tr>
            <tr>
                <td>admit/cleanGym</td>
                <td>Function of clean the gym</td>
            </tr>
            <tr>
                <td>admit/gymStatus</td>
                <td>Function of change status of the gym</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}