{% extends "header.html" %}
{% block title %}User Table{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    }
    );
</script>
{% endblock %}

{% block content %}
{% if admin %}
<a href="/gym/admit/export"><button type="button" class="btn btn-primary">Download CSV</button></a>
<a href="/gym/admit/upload"><button type="button" class="btn btn-primary">Upload CSV</button></a>
<br><br>
<form>
	<input class="form-control form-control-dark w-100" type="text" id="myInput" placeholder="Search" aria-label="Search">
</form>
{% endif %}
<table class="table table-hover table-sm">
	<thead>
		<tr>
			<th>User ID</th>
			<th>User Name</th>
			<th>User Type</th>
			<th>User Record</th>
		</tr>
	</thead>
	<tbody id="myTable">
		{%for user in users%}
		<tr>
			<td>{{user.id}}</td>
			<td>{{user.name}}</td>
			{% if user.userType == 'E'%}
				<td>Employee</td>
			{% else %}
				<td>Student</td>
			{% endif %}
			<td><a href="/gym/admit/record/{{user.id}}"><button class="btn btn-success">Record</button></a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}