{% extends "header.html" %}

{% block title %}Login{% endblock %}
{% load static %}
{% block cssfile %}
<link href="{% static '/css/test.css' %}?{% now 'U' %}" rel="stylesheet">
<link href="{% static '/css/login.css' %}?{% now 'U' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% load static %}

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{% static 'logo.png' %}" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form method="POST" enctype=multipart/form-data>
		<input type="text" name="username"class="fadeIn second" placeholder="Username">
		<input type="password" name="password" class="fadeIn third"placeholder="Password">
		{% csrf_token %}

		<input type="submit"  value="Login">
	</form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <p id="RedMsg">{{Msg}}</p>
    </div>

  </div>
</div>
{% endblock %}