{% extends "header.html" %}

{% block title %}User Table in Gym Room{% endblock %}

{% block content %}
<h1>Gym room</h1>
{% if users|length >= max%}
	<div class="container">
	 	<div class="row">
			<div class="col-sm">
				<h2>Full</h2>
			</div>
			{% if admin %}
			<div class="col-sm">
				<form>
					<a href="/gym/admit/addForm">
						<button type="button" class="btn btn-primary">add to waiting</button>
					</a>
				</form>
			</div>
			{% endif %}
		</div>
	</div>
{% elif admin %}
	<form>
		<a href="/gym/admit/addForm">
			<input type="hidden" name="userId" value="{{user.id}}">
			<input type="hidden" name="userId" value="{{user.entryTime}}">
			<button type="button" class="btn btn-primary">add to gym</button>
		</a>
	</form>

{% endif %}

<table class="table table-hover table-sm">
	<thead>
		<tr>
			<th>#</th>
			<th>User ID</th>
			<th>User Name</th>
			<th>Entry Time</th>
			{% if admin %}
			<th>Action</th>
			{% endif %}
		</tr>
	</thead>
	<tbody id="myTable">
		{%for user in users%}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{user.userId.id}}</td>
			<td>{{user.userId.name}}</td>
			<td>{{user.entryTime}}</td>
			{% if admin %}
			<td>
				<form action="/gym/admit/leaveGym" method='get'>
					<input type="hidden" name="userId" value="{{user.userId.id}}">
					<input type="hidden" name="entryTime" value="{{user.entryTime}}">
					<button type="submit" class="btn btn-primary">leave Gym</button>
				</form>
			</td>
			{% endif%}
		</tr>
		{% endfor %}
	</tbody>
</table>
	{% if users|length >= max%}
		<h1>Waiting List</h1>
		<table class="table table-hover table-sm">
			<thead>
				<tr>
					<th>#</th>
					<th>User ID</th>
					<th>User Name</th>
					<th>waitTime</th>
					{% if admin %}
					<th>Action</th>
					{% endif %}
				</tr>
			</thead>
			{%for waituser in waitUsers%}
			<tr>
				<td>{{forloop.counter}}</td>
				<td>{{waituser.userId.id}}</td>
				<td>{{waituser.userId.name}}</td>
				<td>{{waituser.waitTime}}</td>
				{% if forloop.first and admin %}
				<td>
					<div class="row mx-auto">
						<div class="col-sm">
							<form action="/gym/admit/addGym" method='get'>
								<div class="form-group">
									<input type="hidden" name="userId" value="{{waituser.userId.id}}">
									<button type="submit" class="btn btn-primary">add to Gym</button>
								</div>
							</form>
						</div>
						<div class="col-sm">
							<form action="/gym/importRemove" method='get' onsubmit="return confirm('Do you confirm to delete {{waituser.userId.id}} {{waituser.userId.name}}?')">
								<div class="form-group">
									<input type="hidden" name="userId" value="{{waituser.userId.id}}">
									<button type="submit" class="btn btn-primary">Delete</button>
								</div>
							</form>
						</div>
					</div>
				</td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
	{% endif %}

		{% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
        {% endif %}


{% endblock %}